// Breakpoint Variables
$brk-small: 375px;
$brk-tablet: 768px;
$brk-desktop: 1024px;

// Color Variables
$color-primary: #7477BF;
$color-primary-dark: #4F4779;
$color-secondary: #F2F3F3;
$color-highlight: #2AF26D;
$color-border: lightgrey;
