.grid-container {
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
  @include breakpoint {
    margin: 0 auto;
    max-width: 100%;
    grid-template-columns: 75px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
}

.header {
  grid-area: header;
  background-color: $color-primary;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.nav {
  grid-area: navigation;
  background-color: $color-primary-dark;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  img {
    width: 40px;
    height: 40px;
  }
  @include breakpoint {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    img {
      margin-top: 40px;
    }
  }
}

.main {
  max-width: 100%;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoint {
    grid-column: 1 / span 2;
  }
}

.main-headline {
  margin: 0px;
  padding: 20px;
  @include border-right;
}

.search-bar {
  width: 100%;
  background-color: $color-secondary;
  @include border-bottom;
}

.search-bar-top {
  float: right;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  margin: 15px;
  @include border;
  padding-left: 10px;
  @include breakpoint {
    width: 40%;
  }
}

.alert {
  margin: 15px;
  background-color: $color-primary;
  border-radius: 5px;
  @include breakpoint {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }
}

.alert-banner {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  color: white;
}

.alert-banner-close {
  margin-left: auto;
}


.main {
  grid-area: main;
  display: grid;
  @include breakpoint {
    grid-template-columns: 50%;
  }
}

.app-name {
  margin-left: 20px;
  margin-right: auto;
  color: white;
}

.app-name > span {
  font-weight: 100;
}

.bell-container {
  position: relative;
}

.bell-icon {
  height: 30px;
  width: 30px;
}

.bell-icon:hover {
  transition: .5s ease-in-out;
  transform: scale(1.2, 1.2);
}

.bell-icon-box {
  padding: 12px;
  border-right: 1px $color-primary-dark solid;
}

.bell-notification {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: $color-highlight;
  border-radius: 50%;
  top: 11px;
  right: 13px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.profile-pic-name {
  margin-right: 15px;
  color: white;
}
